html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.createTodoBox {
  height: 21px;
  width: 162px;
  margin-left: 5px;
  margin-top: 5px;
  border-radius: 0px;
  display: flex;
  padding: 0px;
  gap: 0px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.plusButton {
  height: 18px;
  width: 18px;
  margin-left: 0px;
  margin-top: 1.5px;
  border-radius: [object Object]px;
}
.paraCreateNewItem {
  height: 21px;
  width: 134px;
  margin-left: 5px;
  margin-top: 0px;
  border-radius: nullpx;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  /* identical to box height */

  color: #3d82eb;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
.transparentButton {
  border: 0px;
  background-color: transparent;
}
.create-todo-container {
  height: 21px;
  width: 990px;
  margin-left: 5px;
  margin-top: 25px;
  border-radius: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.short-icon {
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.create-input-bar {
  font-family: Roboto;
  margin-left: 10px;
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  width: 800px;
  height: 21px;
  border: 0px;
  outline: none;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.create-input-bar::placeholder {
  color: #cbcbcb;
}
.create-input-line {
  width: 990px;
  height: 0px;

  border: 1px solid #ececec;
  transform: rotate(179.87deg);

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.create-input-line2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 86px;

  width: 990px;
  height: 21px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.create-input-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 41.59px;
  height: 21px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.create-input-date {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 142px;
  height: 21px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.create-input-current-calender {
  width: 17px;
  height: 28px;
  display: flex;
  flex-direction: column;
}
.current-month-container {
  height: 8px;
  width: 17px;
  position: absolute;
  background: #5f6368;
  font-size: 6.5546875px;
  text-align: center;
  font-weight: bold;
  color: #ffffff;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}
.current-date-container {
  height: 16px;
  padding: 3px;
  border: 1px solid #5f6368;
  text-align: center;
  font-weight: bold;
  font-size: 9px;
  color: #5f6368;
  border-radius: 20%;
}
.dueButton {
  font-family: "Roboto";
  font-style: italic;
  width: 150px;
  height: 21px;
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #cbcbcb;
  flex: none;
  text-align: start;
  order: 1;
  flex-grow: 0;
}

.due-date {
  border: solid 1px #5f6368;
  margin-left: 30px;
}
.calender-due-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 142px;
  height: 21px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
